.students-container {
  display: block;
  position: relative;
}

.inside-content {
  margin-left: 250px;
}

.table-wrapper {
  display: flex;
  height: 75vh;
}

.student-left {
  flex: 2;
}

/* Form styling */

form {
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  margin: 30px 0 30px 0;
}

.form-left {
  flex: 1;
}

.form-right {
  flex: 1;
  padding-left: 50px;
}

.form-label {
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.form-input {
  width: 935px;
  height: 40px;
  background-color: #f8f8f9;
  border-radius: 8px;
  border-style: none;
  padding-left: 15px;
}

.form-split-input {
  width: 430px;
}

.split-label {
  margin: 15px 0 15px 0;
}

.form-select {
  width: 445px;
}

.form-input::placeholder {
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #121625;
}

/*LinkedIn input*/
.link-container {
  position: relative;
  display: flex;
  align-items: center;
}

.link-container > i {
  position: absolute;
  display: flex;
  right: 0;
  margin-right: 15px;
  color: #8c909c;
}

/*Buttons*/
.btn {
  height: 40px;
  width: 163px;
  margin-right: 15px;
  border-radius: 8px;
  padding: 5px, 14px, 5px, 10px;
  background: #a5a8b3;
  border-style: none;
  /*Btn text*/
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.delete-btn {
  width: 100px;
  background: transparent;
  color: #121625;
  border: 1px solid #e6e6ea;
  box-sizing: border-box;
  border-radius: 8px;
}

/*Button icons*/
.btn-icons {
  margin-right: 5px;
}

/*Tab Menu*/

.student-right {
  flex: 4;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 85vh;
  background: #fff;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.048);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #a9acb5;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
  color: #121625;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #36e4a6;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 25px 0 0 0px;
  width: 90%;
  height: 80%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

/*Tab procesos*/

.offers-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.offer-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
  width: 100%;
  border-radius: 11px;
  background-color: #f2f3f4;
  margin-left: 20px;
}
