.filter-wrapper {
  z-index: 10;
  border-left: 1px solid rgba(211, 211, 211, 0.472);
  height: 90vh;
  width: 330px;
  text-align: left;
  padding-left: 15px;
  position: relative;
}

/*title */

.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.filter-title > h1 {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.filter-title > i {
  padding-right: 30px;
  color: #32d4a4;
}

/* Technologies */

.filter-technologies {
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter-technologies > h1 {
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 25px 0 10px 0;
}

.technologies-input {
  position: relative;
  display: flex;
  align-items: center;
}

.technologies-input > input {
  height: 40px;
  width: 270px;
  left: 0px;
  top: 28px;
  border-radius: 8px;
  padding: 12px, 15px, 12px, 15px;
  border-style: none;
  background-color: #f8f8f9;
  display: inline-block;
  font-size: 14px;
}

.technologies-input > input::placeholder {
  color: rgb(194, 192, 192);
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.005em;
  text-align: left;
  padding-left: 5px;
}

/*Down arrow icon in technologies input*/
.filter-technologies i {
  position: absolute;
  right: 0;
  margin-right: 50px;
  color: rgb(124, 123, 123);
  font-size: 13px;
}

/* Country select */

.filter-country > h1 {
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 25px 0 10px 0;
}

.country-select {
  position: relative;
  display: flex;
  align-items: center;
}
.country-select > select {
  height: 40px;
  width: 270px;
  left: 0px;
  top: 28px;
  border-radius: 8px;
  padding: 12px, 15px, 12px, 15px;
  border-style: none;
  background-color: #f8f8f9;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
}

.country-select > i {
  position: absolute;
  right: 0;
  margin-right: 50px;
  color: rgb(124, 123, 123);
  font-size: 13px;
}

/*Check options*/
.selection-title {
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 25px 0 10px 0;
}

.check-input {
  margin-bottom: 5px;
  margin-right: 10px;
}

.filter-mode {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-right: 150px;
  margin-top: 5px;
  width: 100%;
}

.filter-mode > label {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
