.filter-wrapper {
  z-index: 10;
  background-color: rgba(173, 216, 230, 0.315);
  height: 90vh;
  width: 330px;
  text-align: left;
}

.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 10px;
}

.filter-title > h1 {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.filter-title > i {
  padding-right: 20px;
  color: #32d4a4;
}
