.modalMain {
  position: relative;
  background: rgb(255, 255, 255);
  width: 70%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.closeModal {
  cursor: pointer;
  color: #84889a;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  padding-top: 25px;
  padding-right: 25px;
  font-size: 17px;
  position: absolute;
  right: 0;
  top: 0;
}

/*modal content*/

.modalWrapper {
  display: flex;
  margin-top: 25px;
  padding-top: 50px;
}

.modalLeft {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.modalTitle {
  font-family: "Raleway";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.formLabel {
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

/*Inside the form split*/
.labelContainer {
  margin-top: 10px;
}

.formSelect {
  height: 40px;
  width: 247px;
  left: 0px;
  top: 28px;
  border-radius: 8px;
  padding: 12px, 15px, 12px, 15px;
  background-color: #f8f8f9;
  border-style: none;
}

.basicTextInput {
  font-size: 13px;
}

.completeInput {
  height: 20px;
  width: 524px;
  border-radius: 8px;
  border-style: none;
  padding: 12px, 15px, 12px, 15px;
  font-size: 14px;
  background-color: #f8f8f9;
}

.completeInput::placeholder {
  padding-left: 10px;
}

.tagsInput {
  height: 50px;
  width: 450px;
  padding-left: 25px;
  font-size: 16px;
}

.tagsInput ::placeholder {
  padding-left: 25px;
}

.formSplit {
  display: flex;
  margin: 5px 0 5px 0;
  height: 250px;
  width: 600px;
}

.splitLeft {
  flex: 1;
}

.splitRight {
  flex: 1;
}

.modalRight {
  flex: 1;
  margin-top: 90px;
}

.basicBtn {
  height: 40px;
  width: 150px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  border-style: none;
  background-color: #a5a8b3;
  padding: 5px, 14px, 5px, 10px;
  color: #fff;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.largeBtn {
  width: 200px;
}

.basicBtn > i {
  margin-right: 10px;
}

.uploadPicContainer {
  display: flex;
  margin-bottom: 50px;
}

.uploadPicContainer > p {
  width: 40%;
  margin-left: 50px;
  font-family: "Raleway";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  background-color: #e7e6e6;
  height: 60px;
  width: 100%;
  bottom: 0;
  right: 0;
  border-radius: 0 0 8px 8px;
}

.footerBtn {
  margin-right: 10px;
  width: 100px;
}
