.data-table {
  width: 100%;
  height: 90vh;
  margin: 50px 100px 0 0;
  display: flex;
  flex-direction: column;
}

/* Scroll the DataTable*/
div.scroll {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  
}

/*Top of the table  for search and button*/
.top-dataTable {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}

.top-dataTable > label {
  margin: 0 5px 0 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.top-dataTable > input {
  padding: 8px;
  background-color: #e6e6ea;
  border-style: none;
  border-radius: 8px;
  height: 25px;
  width: 343px;
  margin-left: 25px;
}

.top-dataTable > input:focus {
  outline: none;
}

/*Boton añadir alumnos*/
.top-dataTable > button {
  height: 40px;
  width: 168px;
  border-radius: 8px;
  padding: 5px, 14px, 5px, 10px;
  border-style: solid;
  border-color: #ddd;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  right: 0;
  font-family: "Raleway";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.top-dataTable > button > i {
  margin-right: 10px;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
  border-radius: 0px;
  margin-left: 0px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 10px 0 10px 0;
  color: rgba(128, 128, 128, 0.781);
  font-weight: 700;
  font-size: 11px;
  font-style: normal;
  border-bottom: 1px solid #ddd;
}

.tag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.tag {
  background-color: #32d5a4;
  padding: 5px;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.filter {
  cursor: pointer;
}
