.data-table {
  width: 100%;
  height: fit-content;
  margin: 100px 100px 100px 0;
  display: flex;
  flex-direction: column;
}

/*Top of the table  for search and button*/
.top-dataTable {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.top-dataTable > label {
  margin: 0 5px 0 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.top-dataTable > input {
  padding: 8px;
  background-color: #e6e6ea;
  border-style: none;
  border-radius: 8px;
  height: 25px;
  width: 343px;
  margin-left: 25px;
}

.top-dataTable > input:focus {
  outline: none;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  width: 85%;
  border-radius: 25px;
  margin-left: 50px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 10px 0 10px 0;
  color: rgba(128, 128, 128, 0.781);
  font-weight: 700;
  font-size: 11px;
  font-style: normal;
  border-bottom: 1px solid #ddd;
}

.tag-container {
  display: flex;
  justify-content: space-between;
}

.tag {
  background-color: #32d5a4;
  padding: 5px 10px 5px 10px;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}

.filter {
  cursor: pointer;
}
